:root{
    --fuente-principal: "Google Sans Flex", sans-serif;
    --fondo: #EFECE3;
    --color-texto: #000000;
    --color-secundario: #8FABD4;
    --color-terciario: #4A70A9;

}   

html{
    font-size: 62.5%;
    box-sizing: border-box;
}   
/* Box sizing rules */
*,  *::before, *::after {
    box-sizing: inherit;
}

body{
    font-family: var(--fuente-principal); 
}
a{
    text-decoration: none;
    color: var(--color-texto);
} 

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3rem;    
}
h3{
    font-size: 2.5rem;
}


.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* barra de navegacion */
.nav-bar{
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .nav-bar{
        flex-direction: row;
        gap: 10rem;
        justify-content: space-evenly;
    
    }
}    

.nav-bar__links{
    display: block;
    text-align: center;
    font-size: 1.8rem;
}
@media (min-width: 768px) {
    .nav-bar__links{
        flex-direction: row;
        align-items: center;
        gap: 3rem;
    }
}

.nav-bar__logo{
    max-width: 7.5rem;   
}
.nav-bar__title{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
}
/* modificador unico */
.nav-bar__logo-container{
    text-align: center;
}

/* Document
   ========================================================================== */
/* seccion hero */
.hero{
    background-image: url(../img/hero.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 50rem;
}
